
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="container p-5 bg-white">
  <div class="row">
    <div class="col p-5">
        <h3><span class="text-success"><b>Uni-Mentor Your AI Guide to Discovering the Perfect University</b></span></h3>
        <br>
        <h6>Unlock Your Educational Journey with Uni-Mentor: Your Personalized University Advisor</h6>
        <br>
        <button type="button" class="btn btn-outline-success">
          <span class="button-text"><b>Start for free</b></span>
        </button>
    </div>
    <div class="col p-5">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <img src="src\assets\images\Screenshot 2023-10-01 210940.png" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<div class="container text-center bg-yellow">
  <div class="row">
    <div class="col p-5">
      <h3><span><b>Why Choose Uni-Mentor for Your University Quest?</b></span></h3>
      <p><span><b>Uni-Mentor offers comprehensive information about universities worldwide.</b></span></p>
      <p><span><b>Provides personalized university recommendations based on your profile.</b></span></p>
      <p><span><b>Uni-Mentor saves time with efficient information gathering.</b></span></p>
      <p><span><b>It keeps you updated with real-time university data.</b></span></p>
    </div>
  </div>
</div>
<div class="container bg-green">
  <div class="row">
    <div class="col p-5">
      <h1><span class="text-white"><b>Unveil the Potential of Uni-Mentor</b></span></h1>
      <p class="text-white" >Witness Its Capabilities in Action Through Our Demo Video. See How It Streamlines Your University Journey, Offering Instant Answers to Your Queries. Step into the Future of Learning Today!</p>
    </div>
    <div class="col p-5">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <h6>Coming Soon ...</h6>
      </div>
    </div>
  </div>
</div>
<div class="container bg-black">
  <div class="row">
    <div class="col p-5">
        <h3><span class="text-white" ><b>Uni-Mentor</b></span></h3>
        <br>
        <p><span class="text-white" ><b>Uni-Mentor is your dedicated companion on the path to higher education. Our AI-powered platform simplifies the complex task of choosing the right university by providing comprehensive information, personalized recommendations, and real-time updates. With a user-friendly interface and a commitment to transparency, Uni-Mentor empowers you to make informed decisions about your academic future</b>.</span></p>
    </div>
    <div class="col p-5">
        <h3><span class="text-white"><b>Contact</b></span></h3>
        <br>
        <h6><span class="text-white" >Phone No.: <b>123456789</b></span></h6>
        <br>
        <h6><span class="text-white" >Email: <b>example@gmail.com</b></span></h6>
        <br>
        <h6><span class="text-white" >Address: <b>Karachi,Pakistan</b></span></h6>
        <br>
    </div>
    <div class="col p-5">
      <h3><span class="text-white" ><b>Socials</b></span></h3>
      <br>
      <p><span class="text-white" ><b>Follow us Social Media!</b></span></p>
      <button mat-icon-button>
        <mat-icon class="text-white" >facebook</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="text-white" >facebook</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="text-white" >facebook</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="text-white" >discord</mat-icon>
      </button>
    </div>
    <hr class="text-white" >
    <br>
    <p><span class="text-white"><b>© 2023 Uni-Mentor Design and Developed by StudyNinja</b></span></p>
  </div>
</div>

