.custom-button {
    background-color: green;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}
.custom-button:hover {
  background-color: white;
  color: green;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.cardcss{
  padding: 100px;
}
.green{
  color: green;
}
.style{
  display: flex;
  justify-content: center;
}
