html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Grid layout styles */
.mat-card {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

.mat-grid-list {
  margin: 0;
  padding: 0;
}

.mat-grid-tile {
  list-style: none;
}

/* Button styles */
.custom-button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
}

.custom-button:hover {
  background-color: white;
  color: green;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Media queries */
@media (max-width: 600px) {
  .mat-grid-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.style{
  display: flex;
  justify-content: center;
}
.green{
  color: green;
}
