<mat-toolbar class="green-bg">
  <h1><span><b>Uni-Mentor</b></span></h1>

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <div class="login-buttons">
      <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        <b>Home</b>
      </button>
      <button mat-raised-button routerLink="login">
        <mat-icon>login</mat-icon>
        <b>Sign In</b>
      </button>
      <button mat-raised-button routerLink="signup">
        <mat-icon>person_add</mat-icon>
        <b>Sign Up</b>
      </button>
    </div>
  </ng-template>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/chat">
    <mat-icon>message</mat-icon>
    Chat
  </button>
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>
