
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 300px;
  margin: 0 auto;
}

.form-input {
  width: 100%;
}

.password-toggle {
  margin-top: 8px;
}

.custom-checkbox {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}

.custom-button {
  width: 250px;
    height: 50px;
    background-color: green;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.button-text {
  transition: opacity 0.2s;
}

.button-text.ng-hide-add,
.button-text.ng-hide-remove {
  display: inline-block !important;
  opacity: 1 !important;
}

.button-text.ng-hide {
  opacity: 0;
}

.heading {
  display: flex;
  justify-content: center;
}

.custom-button {
  width: 250px;
    height: 50px;
    background-color: green;
    color: white;
  }

  .green-button:hover {
    background-color: darkgreen;
  }
