.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}


.green-button {
    background-color: green;
    color: white; 
    width: 100%;
  }
  
  .green-button:hover {
    background-color: darkgreen; 
  }


  .bgcolor{
    background-color: green;
  }