
<div class="form-container mat-elevation-z5">

    <h1>Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="submit()"  >
    
        <mat-form-field>
            <input matInput placeholder="Email Address" formControlName="email" type="email">
            <mat-error *ngIf="email?.errors?.['required']">
                Email  is required
              </mat-error>
              <mat-error *ngIf="email?.errors?.['email']">
                Please enter a valid email address
              </mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']">
                Password is required
              </mat-error>
        </mat-form-field>

        <div class="center margin-top">
            <button mat-raised-button class="green-button" type="submit">Login</button>
          </div>
        <span class="center margin-top">New to  UniMentor? <a routerLink="sign-up" class="sign-up-link"> Sign Up!</a></span>
    </form>
    
    
</div>