<h2 mat-dialog-title>Create New Chat</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(ngModel)]="selectedOption">
      <mat-option>None</mat-option>
      <mat-option value="Sir Syed University">Sir Syed University</mat-option>
      <mat-option value="DHA Suffa University">DHA Suffa University</mat-option>
      <mat-option value="Ned University">Ned University</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="selectUser()">Select</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>
