
    <div class="form-container mat-elevation-z5">
      <div class="heading">
        <h1>Sign Up</h1>
      </div>
      <form [formGroup]="signUpForm" (ngSubmit)="submit()" class="form display">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" />
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="name?.errors?.['required']">
            Name is required
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="form-field">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder="Email Address" formControlName="email" type="email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email?.errors?.['required']">
            Email is required
          </mat-error>
          <mat-error *ngIf="email?.errors?.['email']">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="{{ hidePassword ? 'password' : 'text' }}" placeholder="Password" formControlName="password" />
          <mat-icon matSuffix (click)="togglePasswordVisibility()" aria-label="Toggle password visibility">
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon> 
          <mat-error *ngIf="password?.errors?.['required']">
            Password is required
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="form-field">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="{{ hidePassword ? 'password' : 'text' }}" placeholder="Confirm Password" formControlName="confirmpassword" />
          <mat-icon matSuffix (click)="togglePasswordVisibility()" aria-label="Toggle password visibility">
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon> 
          <mat-error *ngIf="confirmpassword?.errors?.['required']">
            Confirm Password is required
          </mat-error>
          <mat-error *ngIf="signUpForm.errors?.['Passwords not Match']">
            Passwords should match
          </mat-error>
        </mat-form-field>
    
        <div class="center margin-top">
          <button type="submit" mat-raised-button class="custom-button" color="primary">
            <mat-icon class="login-icon">person_add</mat-icon>
            <span class="button-text"><b>Sign Up!</b></span>
          </button>
        </div>
        <br/>
        <div class="center" >
          <button type="button" mat-button routerLink="/login" >  
            Already Have an Account? 
             <span class="green"><b>Login</b></span>
           </button>
        </div>
    
      </form>
    </div>

